/*CSS FOR HOMEPAGE*/

/*HEADER*/

header{
	height: 464px;
	background : url("img/HOMEPAGE1.PNG");
	width: 1910px;
	margin-top: -10px;
	margin-left: -10px;

}


header h1{
	font-family: Indie Flower;
	font-size: 100px;
	font-weight: 400;
	margin: 0px 0px 0px 220px;
	padding-top:220px;
	padding-left: 580px;
}


p1 { 
	font-family: Roboto;
	font-weight: 200;
	font-size: 26px;
	padding-left: 720px;
}


p2 {
	font-family: Roboto; 
	margin-left: 720px;
	font-size: 26px
}


#OrangeDot{
	position: absolute;
	width: 48px;
	height: 48px;
	margin: 22px 0px 0px 1790px;

}

.English{
	position: absolute;
	width: 400px;
	height: 100px;
	margin: -450px 0px 0px 1250px ;
	font-family: Roboto;
	font-size: 32px;
	font-weight: 500px;
	text-align: center;
	background-color: #E7DDD3

}



/*CARDS*/

.Cards{
	position: absolute;
	width: 325px;
	height: 100px;
	margin: 15px 0px 0px 0px ;
	font-family: Roboto;
	font-size: 32px;
	font-weight: 500px;
	text-align: center;
	background-color: #E7DDD3;
}

.Cards form input{
	border: 1px solid #E7DDD3;
}

.Cards input{
	color: black;
	text-decoration: none;
	border: none;
	width: 325px;
	height: 100px;
	opacity: 10;
	font-size: 32px
}


.Deliverydate{
	position: absolute;
	width: 325px;
	height: 100px;
	margin: 15px 0px 0px 344px ;
	font-family: Roboto;
	font-size: 32px;
	font-weight: 500px;
	text-align: center;
	background-color: #E7DDD3;
}



.Deliverydate form input{
	border: 1px solid #E7DDD3;
}

.Deliverydate input{
	color: black;
	text-decoration: none;
	border: none;
	width: 325px;
	height: 100px;
	opacity: 10;
	font-size: 32px
}

.Search{
	position: absolute;
	width: 325px;
	height: 100px;
	margin: -100px 0px 0px 344px ;
	font-family: Roboto;
	font-size: 32px;
	font-weight: 500px;
	text-align: center;
	background-color: #E7DDD3;
}
/*BIG CARDS*/

.AboutUs{
	width: 800px;
	height: 90px;
	margin: 420px 0px 0px 0px ;
	font-family: Roboto;
	font-size: 32px;
	background-color: #E7DDD3
}

.AboutUs p{
	padding-left: 10px;
	height: 11px;
	font-size: 35px;
}
h1{
	font-size:16px;
	padding-left: 10px;
}

.AboutUs p3{
	font-size: 18px;
	text-decoration: underline;
	font-weight: bold;
	color: black;
}

.AboutUSPIC img{

	height: 300px;
	margin: 0px 0px -424px 100px
}

/*COVID19SITUATION*/

.COVID19SITUATION{
	width: 810px;
	height: 90px;
	margin: -124px 0px 0px 1080px ;
	font-family: Roboto;
	font-size: 32px;
	background-color: #E7DDD3
}

.COVID19SITUATION p{
	padding-left: 10px;
	height: 11px;
	font-size: 35px;
}

.COVID19SITUATION h1{
	font-size:16px;
	padding-left: 10px;
}

.COVID19SITUATION p4{
	font-size: 18px;
	text-decoration: underline;
	font-weight: bold;
	color: black;
}

}
/* AboutUS page */

.TextAboutUs{
	width: 800px;
	height: 90px;
	margin: 0px 0px 0px 0px ;
	font-family: Roboto;
	background-color: white;
	padding-left: 35px;
}


.TextAboutUs p{
	font-size: 40px;
	height: 11px;
	font-weight: bold;
}

.TextAboutUs a{
	font-size: 	10.5px;
}


.COVIDTEXT{
	width: 743px;
	height: 90px;
	margin: -130px 0px 0px 1050px ;
	font-family: Roboto;
	background-color: white;
}

.COVIDTEXT p{
	font-size: 40px;
	font-weight: bold;
	height: 11px;
}

.COVIDTEXT a{
	font-size: 10.5px;
}

.OurValues{
	width: 800px;
	height: 90px;
	margin: 20px 0px 0px 0px ;
	font-family: Roboto;
	background-color: white;
	padding-left: 35px;
	padding-top: 100px;
}

.OurValues p{
	font-size: 40px;
	font-weight: bold;
	height: 35px;
}

ol li{
	color: black;
	list-style-type: none;
}

.OurValues ol{
	font-size: 15.5px;	
	padding-left: 5px;
}

.COVIDPICTURE img{
	margin-left: 1095px;
	height: 300px;
	margin: -190px 0px 0px 1100px
}

/* Contact */

.Contact {
	font-family: Roboto;
	position: absolute;
	margin-left: 1200px;
    line-height: 56px;
}	

/*Birthday an Hollande*/

body	{
	background: #FFFFFF; ;
	color: #000000;
	font-family: 'Roboto', serif;
	font-size: 16px;
	font-weight: lighter;
}

/* Main title */
h1	{
	font-family: 'Indie Flower', cursive;
	color: black;
	font-size: 72px;
	font-weight: 400;
}


/* Event */
h2	{
	font-family: 'Roboto';
	color: #000000;
	font-size: 32px;
	font-weight: 500;

}

/* Subtitle */
h3	{
	font-family: "Roboto";
	color: #000000;
	font-size: 18px;
	font-weight: 500;
}

/* link */

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	font-size: 16px;
	}	

/* link 2 */
??


/* btn events */
.btn-grey {
	background-color: rgb(201,201,201);
	color: #090909;
	padding: 0px;
	border-radius: 0px;
	width: 280px;
	height: 54px;
	text-align: center;
}




/* card */
.cards{
	margin: 10px;
	padding: 10px;
}


.card-bouquets {
	background-color: white;
	padding: 0px;
	width: 400px;
	height: 176px;
	float: left;

}

.text-card {
	background-color: ##E8DED2;
	width: 400px ;
	height: 65px;

}

.big-card {
	background-color: white;
	padding: 50% ;
	width: 593px;
	height: 474px;
}

/* avatar */
.avatar {
	border-radius: 50%;
	width: 48px;
	height: 48px;
}

nav {
	width: 100%;
	height:100px;
	line-height;
}

.navlist {

}

.navlist li {
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 100px;
}

.navlist li a  {
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 0 20px;
}
